<body>
    <div class="container">
        <h2 class="font-weight-bold" style="color: rgba(93, 89, 89, 0.712);">
            404 Al parecer la página que buscas no existe.
        </h2>
        <div class="row">
            <div class="col-md-2 col-6">
                <img src="/imagenes/sin_imagen.jpg" alt="">
            </div>
            <div class="col-md-6 col-6">
                <h3 class="font-weight-bold" style="color: rgba(93, 89, 89, 0.712);">
                    Página no encontrada.
                </h3>
            </div>
        </div>


    </div>


</body>