<div class="container">
    <div class="container">
        <p>Buscar productos subir imagenes</p>
        <form action="/api/coincidenciaadmin" method="post" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" id="busqueda" name="buscar" type="search" placeholder="Buscar"
                aria-label="Search">
            <button type="submit" id="btnconsultar3" class="btn btn-outline-warning"><i class="fa fa-search"
                    style="color: #f80;"></i></button>
        </form>
    </div>
    <hr>


    <div class="container">
        <form action="/api/upload_banner" method="post" enctype="multipart/form-data">
            <label for="exampleFormControlInput1">Actualizar banners</label>
            <div class="form-group">
                <label for="exampleFormControlSelect2">Elija el banner que desea cambiar</label>
                <select multiple class="form-control" name="seleccion" id="exampleFormControlSelect2">
                    <option name="id_imagen" value="1">1</option>
                    <option name="id_imagen" value="2">2</option>
                    <option name="id_imagen" value="3">3</option>
                    <option name="id_imagen" value="4">4</option>
                    <option name="id_imagen" value="5">5</option>
                </select>
            </div>
            <div class="form-group">
                <label for="picture">Imagen del banner</label>
                <input type="file" class="form-control-file" name="picture" id="picture">
                <p id="texto"> </p><br />

            </div>
            <button type="submit" class="btn btn-primary" id="guardar">Guardar imagen</button>
        </form>
    </div>
</div>