<div class="container">
    <div class="container">
        <h3>Buscar productos para subir imágenes</h3>
        <form action="/api/coincidenciaadmin" method="post" class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" id="busqueda" name="buscar" type="search" placeholder="Buscar"
                aria-label="Search">
            <button type="submit" id="btnconsultar3" class="btn btn-outline-warning"><i class="fa fa-search"
                    style="color: #f80;"></i></button>
        </form>
    </div>
    <hr>
    <div class="container">
        <form action="/api/upload_banner" method="post" enctype="multipart/form-data">
            <h3 for="exampleFormControlInput1">Actualizar banners</h3>
            <div class="form-group">
                <label for="exampleFormControlSelect2">Elija el banner que desea cambiar (imágenes de dimensiones 720x360 o equivalente)</label>
                <select multiple class="form-control" name="seleccion" id="exampleFormControlSelect2">
                    <option name="id_imagen" value="1">1 Banner Portatiles</option>
                    <option name="id_imagen" value="2">2 Banner Redes</option>
                    <option name="id_imagen" value="3">3 Case o PC</option>
                    <option name="id_imagen" value="4">4 Banner Seguridad y camaras</option>
                    <option name="id_imagen" value="5">5 Impresoras</option>
                </select>
            </div>
            <div class="form-group">
                <label for="picture">Imagen del banner</label>
                <input type="file" class="form-control-file" name="picture" id="picture">
                <p id="texto"> </p><br />

            </div>
            <button type="submit" class="btn btn-primary" id="guardar">Guardar imagen</button>
        </form>
    </div>
    <hr>
    <div class="container">
        <form action="/api/upload_promociones" method="post" enctype="multipart/form-data">
            <h3 for="exampleFormControlInput1">Actualizar promociones</h3>
            <label for="exampleFormControlSelect2">Elija imagen que desea cambiar (imágenes de dimensiones 1024x1024 o equivalente)</label>
            <div class="form-group">
                
            </div>
            <div class="form-group">
                <label for="picture">Imagen de promocion</label>
                <input type="file" class="form-control-file" name="picture" id="picture">
                <p id="texto"> </p><br />

            </div>
            <button type="submit" class="btn btn-primary" id="guardar">Guardar imagen</button>
        </form>
    </div>
    <hr>
    <div class="container">
        <form action="/api/upload_bannerPromo" method="post" enctype="multipart/form-data">
            <h3 for="exampleFormControlInput1">Actualizar banners de promociones (imágenes de dimensiones 800x600 o equivalente)</h3>
            <div class="form-group">
                <label for="exampleFormControlSelect2">Elija el banner que desea cambiar</label>
                <select multiple class="form-control" name="seleccion" id="exampleFormControlSelect2">
                    <option name="id_imagen" value="1_1">1 Promociones</option>
                    <option name="id_imagen" value="1_2">2 Promociones</option>
                    <option name="id_imagen" value="1_3">3 Promociones</option>
                    <option name="id_imagen" value="1_4">4 Promociones</option>
                    <option name="id_imagen" value="1_5">5 Promociones</option>
                    <option name="id_imagen" value="1_6">6 Promociones</option>
                </select>
            </div>
            <div class="form-group">
                <label for="picture">Imagen del banner</label>
                <input type="file" class="form-control-file" name="picture" id="picture">
                <p id="texto"> </p><br />

            </div>
            <button type="submit" class="btn btn-primary" id="guardar">Guardar imagen</button>
        </form>
    </div>
    <hr>
    <div class="container">
        <form action="/api/upload_servicios" method="post" enctype="multipart/form-data">
            <h3 for="exampleFormControlInput1">Actualizar banners de promociones. </h3>
            <div class="form-group">
                <label for="exampleFormControlSelect2">Elija la imagen que desea cambiar (imágenes de dimensiones 800x800 o equivalente)</label>
                <select multiple class="form-control" name="seleccion" id="exampleFormControlSelect2">
                    <option name="id_imagen" value="SERVICIO-CPU">IMAGEN SERVICIO CPU</option>
                    <option name="id_imagen" value="SERVICIO-IMP">IMAGEN SERVICIO IMPRESORAS</option>
                    <option name="id_imagen" value="SERVICIO-PORT">IMAGEN SERVICIO PORTATILES</option>
                </select>
            </div>
            <div class="form-group">
                <label for="picture">Imagen del banner</label>
                <input type="file" class="form-control-file" name="picture" id="picture">
                <p id="texto"> </p><br />

            </div>
            <button type="submit" class="btn btn-primary" id="guardar">Guardar imagen</button>
        </form>
    </div>
    <hr>
    <div class="container">
        <form action="/api/generador" method="get">
            <input class="openBtn1_2" type="submit" value="Actualizar imágenes" name="Submit" id="redirigir"
                onClick="window.location.reload();" />
        </form>
    </div>
    <script>
        $('.openBtn1_2').on('click', function () {
            const htmlpuro = document.createElement('div');
            htmlpuro.innerHTML = '<form action="/api/adminclickhere">\
                                <input type="submit" value="OK" />\
                                </form>'
            swal.fire({
                title: "Se envió a actualizar las imágenes de la base de datos",
                text: "Actualización de imágenes dentro de un momento se actualizará conforme a la base de datos",
                icon: "success",
                //background:'#fd7e14 url(/imagenes/logo.png)',
                confirmButtonText: 'OK'
            }).then((result) => {
                if (result.value) {
                    location.reload();
                }
            })
        });
    </script>
</div>