<body>
    <br>
    <br>
    <div class="container">
        <input class="btn btn-outline-dark" type="button" id="btnconsultar2" value="presioname"><br><br>
        <div id="contenido" class="">
        <h1>{{producto}}</h1>
        </div>
        
        
