<body>
  <article id="work" class="wrapper style1click">
    <div class="container ">
      <div class="row">
        <br>
        <h1 style="text-align: center;"></h1>
        <div class="col-md-6">
          <br>
          <script>
            function validar() {
              //obteniendo el valor que se puso en el campo text del formulario
              var name = document.getElementById("nombre").value;
              var email = document.getElementById("email").value;
              var comentario = document.getElementById("comentario").value;
              var telefono = document.getElementById("telefono").value;
              var fail = swal.fire({
                title: "Su petición no fue enviada",
                text: "Por favor, asegurese de llenar todos los datos del formulario.",
                icon: "warning",
                buttons: true,
              });
              //la condición
              if (name.length == 0 || /^\s+$/.test(name)) {
                fail;
                return false;
              } else {
                if (email.length == 0 || /^\s+$/.test(email)) {
                  return false;
                  fail;
                } else {
                  if (comentario.length == 0 || /^\s+$/.test(comentario)) {
                    return false;
                    fail;
                  } else {
                    if (telefono.length == 0 || /^\s+$/.test(telefono)) {
                      return false;
                      fail;
                    } else {
                      swal.fire({
                        title: "Gracias por contactarnos",
                        text: "Su petición fue enviada en breve nos contactaremos con usted.",
                        icon: "success",
                        buttons: true,
                      })
                      return true;
                    }
                  }

                }

              }


            }
          </script>
          <form action="/api/postmail_contacto" class="protect-form" id="formulario" method="post" onsubmit="return validar()"
            enctype="application/x-www-form-urlencoded">
            <h3 style="text-align: center;">Formulario de contacto:</h3>
            <br>
            <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombres">
            <br>
            <input type="email" id="email" class="form-control" name="email" placeholder="Correo">
            <br>
            <textarea type="text" id="comentario" class="form-control" name="comentario" placeholder="Mensaje"></textarea>
            <br>
            <input type="number" id="telefono" class="form-control" name="telefono" placeholder="Telefono"><br>
            <input id="prodId" name="razon" type="hidden" value="Contacto con la empresa.">
            <input type="submit" value="Enviar" class="btn btn-primary" id="enviar">
          </form>
        </div>
        <div class="col-md-6">
          <br>
          <strong>
            &nbsp; <h2>Contactenos</h2>
          </strong>
          <div class="co class= " wrapper style2"">
            <div class="info-detail">
              <ul>
                <li><i class="fa fa-calendar"></i><span> Lunes - Viernes:</span> 8:30 AM a 6:30 PM</li>
              </ul>
              <ul>
                <li><i class="fa fa-calendar"></i><span> Sábados:</span> 9:00 AM a 13:30 PM</li>
              </ul>
              <ul>
                <li><i class="fa fa-map-marker"></i><span> Lugar:</span> Ecuador , Manabí, Manta Calle 12 Avenida 20
                </li><iframe
                  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3989.2693324970755!2d-80.7300721!3d-0.9504897!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x902be10b49195bbd%3A0x7b7c847942efd86b!2sClickHere.PC!5e0!3m2!1ses!2sec!4v1570635443192!5m2!1ses!2sec"
                  frameborder="0" style="border:0" allowfullscreen></iframe>
              </ul>
              <ul>
                <li><i class="fa fa-phone"></i><span> Celular:</span> 0987196321</li>
              </ul>

              <ul>
                <li><i class="fa fa-envelope"></i><span> Email:</span> clickherepc@gmail.com</li>
              </ul>


            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

</body>