<body>
<article id="work" class="wrapper style2">
<div class="container ">
  <div class="row">   
    <br>
      <h1 style="text-align: center;"></h1>
      <div class="col-md-4">
        <br>
         <form action="">
        <h3 style="text-align: center;">Formulario de cotización:</h3>
          <br>
          <input type="text" class="form-control" id="nombre" onkeypress="return validarLetra(event)" placeholder="Nombres">
          <br>
          <input type="email" id="email" class="form-control"placeholder="Correo">
          <br>
          <input type="text" id="comentario" class="form-control"placeholder="Mensaje">
          <br>
          <input type="text" id="telefono" class="form-control" onkeypress="return validarNumero(event)"placeholder="Telefono"><br>
          <input type="button" value="Enviar" class="btn btn-primary" id="enviar">
        </form>    
      </div>
      </div>  
    </div>
    </article>
    
</body>
    	