<body>
<article id="work" class="wrapper style2">
<div class="container ">
  <div class="row">   
    <br>
      <h1 style="text-align: center;"></h1>
      <div class="col-md-4">
        <br>
         <form action="/api/postmail_cotizacion" method="post" enctype="application/x-www-form-urlencoded">
        <h3 style="text-align: center;">Formulario de cotización:</h3>
          <br>
          <input type="text" class="form-control" name="name" id="name" placeholder="Nombres y Apellidos">
          <br>
          <input type="email" id="email" name="email" class="form-control"placeholder="Correo de contacto">
          <br>
          <textarea class="form-control" id="comentario" name="comentario" rows="3" placeholder="Por favor, escriba la descripción el producto que desea cotizar."></textarea>
          <br>
          <input type="text" id="telefono" name="telefono" class="form-control" placeholder="Telefono de contacto"><br>
          <button type="submit" class="btn btn-primary btn-info">Enviar a cotizar</button>
        </form>    
      </div>
      </div>  
    </div>
    </article>
    
</body>
    	