<div>
    <article id="work" class="wrapper style1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-6 col-sm-12">
                    <section class="box style1">
                        <div class="container" align="left">

                            <h1>Servicio técnico especializado.</h1>
                            <p ALIGN="justify">
                                ClickHere PC es una empresa con una trayectoria de más de 11 años que
                                ofrece distintos servicios en el área informática, el cual se especializa en
                                la reparacion de PC de escritorio, notebooks, netbooks, tablets celulares.
                                Tenemos amplia experiencia en armado de pcs y redes de comunicación, configuracion de
                                servidores, etc.
                            </p>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <img class="img-fluid" src="/imagenes/SERVICIO-CPU.jpg" alt="">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <img class="img-fluid" src="/imagenes/SERVICIO-IMP.jpg" alt="">
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-12">
                                    <img class="img-fluid" src="/imagenes/SERVICIO-PORT.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </article>
</div>