<div class="container">
    <br><br>
   <header>
     <h1>Nuestras soluciones</h1>
     <p>Agrega valor a tu empresa tales como la que ofrecemos a nuestro grupo de clientes:</p>
   </header>
   <div class="row aln-center">
     <div class="col-lg-4 col-md-6 col-sm-12">
       <section class="box style1">
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="/imagenes/cliente_metal.png" class="img-fluid" alt="">
                    {{!-- <h3>Metal hierro</h3> --}}
                    <button class="btn btn-primary" onclick="location.href=''">Ver</button>
                </div>
                <div class="flip-box-back">
                <h2>Empresa dedicada a aleaciones de hierro</h2>
                <p><a href="http://www.ferreteriametalhierro.com" target="_blank" rel="noopener noreferrer">http://www.ferreteriametalhierro.com</a></p>
                </div>
            </div>
        </div>
       </section>
     </div>
     <div class="col-lg-4 col-md-6 col-sm-12">
       <section class="box style1">
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    <img src="/imagenes/cliente_super.png" class="img-fluid" alt="">
                    {{!-- <h3>Super Yapa</h3> --}}
                    <button class="btn btn-primary" onclick="location.href=''">Ver</button>
                </div>
                <div class="flip-box-back">
                    <h2>Empresa decicada a la venta online</h2>
                    <p><a href="https://superyapa.com" target="_blank" rel="noopener noreferrer">https://superyapa.com</a></p>
                </div>
            </div>
        </div>
       </section>
     </div>
     <div class="col-lg-4 col-6-medium col-sm-12">
       <section class="box style1">
        <div class="flip-box">
            <div class="flip-box-inner">
                <div class="flip-box-front">
                    
                    <img src="/imagenes/cliente_lasnenas.png" class="img-fluid" alt="">
                    
                    <button class="btn btn-primary" onclick="location.href=''">Ver</button>
                </div>
                <div class="flip-box-back">
                    <h2>Empresa dedicada al comercio de productos básicos</h2>
                    <p><a href="https://www.facebook.com/minimarketLasNenas/" target="_blank" rel="noopener noreferrer">minimarketLasNenas/</a></p>
                </div>
            </div>
        </div>
       </section>
     </div>
   </div>
  </div>