<body>
    <br>
    <br>
    <div class="container">
        <input class="btn btn-outline-dark" type="button" id="btnconsultar2" value="presioname"><br><br>

        <div class="row">
            <div class="col-md-3">
                <h3>Fitros-categorias</h3>
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        Marcas
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Dell</li>
                        <li class="list-group-item">HP</li>
                        <li class="list-group-item">Asus</li>
                    </ul>
                    <div class="card-header">
                        Más vendidos
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Dell</li>
                        <li class="list-group-item">HP</li>
                        <li class="list-group-item">Asus</li>
                    </ul>
                    <div class="card-header">
                        Último en stock
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Dell</li>
                        <li class="list-group-item">HP</li>
                        <li class="list-group-item">Asus</li>
                    </ul>
                    <div class="card-header">
                        Marcas
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Dell</li>
                        <li class="list-group-item">HP</li>
                        <li class="list-group-item">Asus</li>
                    </ul>
                    <div class="card-header">
                        Marcas
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Dell</li>
                        <li class="list-group-item">HP</li>
                        <li class="list-group-item">Asus</li>
                    </ul>

                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-11 btn-group dropright">
                        <div class="col-md-4 offset-md-8">
                            <button type="button" class="btn btn-outline-warning dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                Ordenar por:
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Precio: de más bajo a más alto</a>
                                <a class="dropdown-item" href="#">Precio: de más alto a más bajo</a>
                                <a class="dropdown-item" href="#">Nombre, A a Z</a>
                                <a class="dropdown-item" href="#">Nombre, Z a A</a>
                                <a class="dropdown-item" href="#">Nombre, A a Z</a>
                                <a class="dropdown-item" href="#">En inventario primero</a>
                                <div class="dropdown-divider"></div>

                            </div>
                        </div>
                    </div>
                </div><br>
                <div id="contenido" class="">
                </div>
                <div class="row">
                    <div class="col-md-4 product-block">
                        <section class="box style1">
                            <div class="main-category-image">
                                <img class="rounded img-portfolio img-hover mb-3" src="/imagenes/661.jpg" width="200"
                                    height="185" alt="">
                                <div class="caption">
                                    <h5>Título</h5>
                                    <div class="price-mob">
                                        11.99
                                    </div>
                                    Descripción
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-4 product-block">
                        <section class="box style1">
                            <div class="main-category-image">
                                <img class="rounded img-portfolio img-hover mb-3" src="/imagenes/661.jpg" width="200"
                                    height="185" alt="">
                                <div class="caption">
                                    <h5>Título</h5>
                                    <div class="price-mob">
                                        11.99
                                    </div>
                                    Descripción
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-4 product-block">
                        <section class="box style1">
                            <div class="main-category-image">
                                <img class="rounded img-portfolio img-hover mb-3" src="/imagenes/661.jpg" width="200"
                                    height="185" alt="">
                                <div class="caption">
                                    <h5>Título</h5>
                                    <div class="price-mob">
                                        11.99
                                    </div>
                                    Descripción
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-md-4 product-block">
                        <section class="box style1">
                            <div class="main-category-image">
                                <img class="rounded img-portfolio img-hover mb-3" src="/imagenes/661.jpg" width="200"
                                    height="185" alt="">
                                <div class="caption">
                                    <h5>Título</h5>
                                    <div class="price-mob">
                                        11.99
                                    </div>
                                    Descripción
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="container">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        {{!-- Ejemplo de impresion de productos --}}
        {{!-- <div class="row">
            {{!-- Impresion de cada producto --}}
        {{!-- <div class="col-lg-3 col-md-4 col-6 product-block">
                <div class="main-category-image">
                    <img class="img-fluid img-portfolio img-hover mb-3" src="/imagenes/2727.jpg" alt="">
                    <div class="caption">
                        <h3>titulo</h3>
                        <div class="price-mob">
                            $30.00
                        </div>
                        <p>descripcion</p>
                    </div>
                </div>
            </div>
        </div> --}}

    </div>
</body>