body {
  background-image: url("../imagenes/fondotecnologico.jpg");
  background-color: #cccccc;
 }
hr.new4 {
  border: 1px solid #fba744;
  border-radius: 2px;
}
.carousel-item {
    /* height: 100vh; */
    min-height: 350px;
    padding-bottom: 20px;
    /* background: no-repeat center center scroll; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
/* Espacio de las particulas */
.vacio{
    width: 100%;
    height: 600px;
}

.vacio2{
    width: 100%;
    height: 250px;
}
/* espacio abajo del efecto particulas */
.fondo-white{
    background: #F5F5F5;
    width: 100%;
    /* para hacer que se adapte al contenido poner auto en height */
    height: auto;
    /* Tamaño predeterminado */
    /* height: 500px; */

}
.fondo-white2{
    background: #F5F5F5;
    width: 100%;
    height: auto;
}
/* Imagen que va en el div particulas */
.particulas{
    /*IMAGEN*/
    /* background: url(../imagenes/banner3.jpg); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}
#particles-js{
    width: 100%;
    height: 750px;
    /*background: url(../imagenes/72859420_3125993084109177_2344947891874824192_n.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: cover; 
    /* padding: 0; */
}

.texto-particle{
    color: aliceblue;
    position: absolute;
    text-align: center;
    top: 20%;
    width: 100%;
    line-height: 0.4em;
}
.h1{
    font-size: 50px;
}
/* ajute para movil */
@media screen and (max-width: 900px) {
    .texto-particle{
        top: 5%;
    }
    .vacio{
        width: 100%;
        height: 200px;
    }
    }
@media only screen and (max-width: 900px) {
.slider-grande{
display:none;
}
.icon-bar{
  display:none;
}
}
@media only screen and (min-width: 900px) {
  .slider-pequeno{
  display:none;
  }
  
  }

/* Textos */
.colorblanco{
    color: aliceblue;
}

/* Efecto tarjeta imagen */
/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 0px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-box-front {
    /* background-color: #bbb; */
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: rgba(243, 148, 50, 0.85);
    color: white;
    transform: rotateY(180deg);
  }


  /* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.instagram {
  background: #ea0d55;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
/* estilos carrito */
.dropdown-menu .cart {
  min-width: 250px;
  padding: 15px 25px 0;
}

.dropdown-menu .cart .row > div {
  padding: 0 0 10px 0;
}

.dropdown-menu .cart .totalPrice{
  font-size: 120%;
  font-weight: bold;
  padding: 15px 0;
}

.cart.page {
  padding: 25px 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }